body{
    background: #fff;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    font-family: "Montserrat", sans-serif;
 }
 .wrapper{
    background: #fff;
    display: flex;
    flex-direction: row-reverse;

 }
 .main-content{
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
 }
 
.Saidebar{
    background: #e0ebfe;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}
.saidebar-content{
padding-left: 40px;
padding-top: 40px;
padding-right: 40px;
box-sizing: border-box;
}
.contacts-title{
color: #161d2a;
font-size: 22px;
line-height: 1.71429;
font-weight: 400;
margin-bottom: 8px;
}



